<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="finderthesearchengine" connectionString="Data Source=DESKTOP-9JJ86J8;Initial Catalog=finderthesearchengine;Integrated Security=True;Pooling=False"/>
    <add name="finderthesearchenginedbConnectionString" connectionString="Data Source=DESKTOP-9JJ86J8;Initial Catalog=finderthesearchengine;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>